@charset "UTF-8";
/* CSS Document */
body{
	background-color: rgb(82, 86, 89);
}
.main {
	overflow: auto;
	margin: 0 auto;
}
.content{
	height: 100vh;
}

.toc_btn{
	position: fixed;
	width: 150px;
	bottom: 70px; 
	left: 20px;
	padding: 6px 20px;
	cursor:pointer;
}
.n_btn{
	position: fixed;
	width: 150px;
	bottom: 20px; 
	right: 20px;
	padding: 6px 20px;
	cursor:pointer;
}
.p_btn{
	position: fixed;
	width: 150px;
	bottom: 20px; 
	left: 20px;
	padding: 6px 20px;
	cursor:pointer;
}
.pr_btn{
	position: fixed;
    width: 150px;
    bottom: 70px;
    right: 20px;
    padding: 6px 20px;
    cursor: pointer;
}
.t_btn{
	position: fixed;
	width: 150px;
	bottom: 70px; 
	right: 20px;
	padding: 6px 20px;
	cursor:pointer;
	display: none;
}



button {
	font-size: 15px;
	color: #2D2D2D;
	background-color: #dfeef5;
	border-radius: 3px;
	border: solid 1px #2D2D2D;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}
button:hover {
	background-color: #B2D7E5;
}

_::-webkit-full-page-media, _:future, :root .t_btn{
	position: fixed;
	width: 150px;
	bottom: 70px; 
	right: 20px;
	padding: 6px 20px;
	cursor:pointer;
	display: block;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	::i-block-chrome, .t_btn{
	position: fixed;
	width: 150px;
	bottom: 70px; 
	right: 20px;
	padding: 6px 20px;
	cursor:pointer;
	display: block;
}
}
@media(min-width:751px){
    .sp{
        display: none !important;
    }
}
@media(max-width:750px){
    .pc{
        display: none !important;
    }
}

img{
	width: 800px;
}
.imgsen{
	text-align: center;
}